* {
    margin: 0;
    padding: 20px;
}

.completed {
    text-decoration: line-through;
}

body {
    background-image: url('img/tabula-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

  