body {
    background-image: url('./tabula-icon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

table {
    margin-top: 20px;
}

input#searchTaskInput {
    margin-top: 10px;
    width: 100%;
}
